h1
{
    margin-top: 20px;
    margin-left: 130px;
}

.box-p
{
    margin-left: 130px;
}

.box
{
    margin: 150px 50px 50px 150px;
    position: relative;
    border:2px solid black;
    width: 700px;
    height: 500px;
    overflow: hidden;
}

.boxes
{
    position: absolute;
    width: 150px;
    height: 70px;
    color: white;
    border-radius: 7px;
    transition: transform 0.1s ease;
    transform: translate(-60%,10%);
}
.green
{
    background-color: rgb(2, 148, 90);
    top: 10px;
    left: 0;
}
.blue
{
    background-color: rgb(21, 144, 220); 
    top: 90px;
    left: 0;
}
.red
{
    background-color: red;
    top: 170px;
    left: 0;
}
.gray
{
    background-color: rgb(73, 73, 73); 
    top: 250px;
    left: 0;
}
.boxes:hover
{
    transform: translateX(20px);
}
